$theme-colors: (
  "primary": #1657ab,
  "success": #80b450
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1060px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1030px
);
$black-3: #333333;
$dark-primary: #19263f;
$gray-light: #fafafa;