.container
    ul.nav.justify-content-center.footer-nav
        li.nav-item
            a(href='#') PRIVACY POLICY
        li.nav-item
            a(href='#') ABOUT US
        li.nav-item
            a(href='#') SUPPORT
    
    ul.nav.justify-content-center.social
        li.nav-item
            a(href='#')
                i.icon.icon-fb
        li.nav-item
            a(href='#')
                i.icon.icon-tw
        li.nav-item
            a(href='#')
                i.icon.icon-insta
    .row
        .col-12.text-center.copyright Copyright © 1998 – 2016
        