section.hero
    .container
        .row.justify-content-center.text-center
            .hero__title WE SOLVE
                br
                | YOUR PROBLEMS
            .hero__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit. 
                br
                | Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.