.one {
    margin-top: 71px;

    @media (max-width: 991px) {
        margin-top: 50px;
    }

    &__title {
        font-size: 19px;
        margin-left: 19px;
        letter-spacing: -0.08px;
        font-family: "PT Sans",sans-serif;
        color: #19263f;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;

        @media (max-width: 991px) {
            margin: 0 15px 30px;
        }
    }
    &__column {
        margin-top: 73px;
        padding: 36px 25px 41px;
        background-color: $gray-light;
        margin-right: 3px;

        @media (max-width: 991px) {
            margin: 15px 0;
        }
        @media (max-width: 767px) {
            margin: 15px -15px;
        }
        
        &_icon {
            img {
                width: 62px;
            }
        }
        
        &_title {
            font-size: 20px;
            font-family: "PT Sans",sans-serif;
            font-weight: 700;
            line-height: 1.2;
            margin-top: 26px;
            letter-spacing: -.5px;
            color: $dark-primary;
        }
        &_text {
            font-size: 14px;
            color: $black-3;
            margin-top: 31px;
            margin-left: -2px;
            line-height: 17.1px;
        }
        &_link {
            font-size: 15px;
            font-family: "PT Sans";
            color: rgb(22, 87, 171);
            line-height: 2.4;
            margin-top: 34px;
        }

        &.one {
            margin-right: 7px;
            margin-left: -5px;
            padding-right: 21px;
            padding-bottom: 42px;

            @media (max-width: 991px) {
                margin: 15px 0;
            }
            @media (max-width: 767px) {
                margin: 15px -15px;
            }
            
            .one__column_icon {
                img {
                    width: 52px;
                    margin-left: -8px;
                    margin-top: -5px;
                }
            }
            .one__column_title {
                margin-top: 33px;
                margin-left: -9px;
            }
            .one__column_text {
                margin-top: 30px;
                margin-left: 0;
            }
            .one__column_link {
                margin-left: -3px;
                margin-top: 33px;
            }
        }
        &.third {
            margin-left: -1px;
            padding-bottom: 44px;
            
            @media (max-width: 991px) {
                margin: 15px 0;
            }
            @media (max-width: 767px) {
                margin: 15px -15px;
            }

            .one__column_icon {
                img {
                    width: 64px;
                    margin-left: -2px;
                    margin-top: 9px;
                }
            }
            .one__column_title {
                margin-top: 29px;
                margin-left: -2px;
            }
            .one__column_text {
                margin-top: 31px;
                margin-left: 1px;
                line-height: 17px;
            }
        }
    }
}